.clsBody {
    background-color: #353637 !important;
}

#divPostFormInfo {
    display: none;
}

.clsJspForm {
    box-shadow: none !important;
}

.clsDesktopHeader .clsDesktopLogo {
    display: none !important;
}

.clsDesktopContent.clsDesktopBox {
    background: transparent !important;
    border: 0 !important;
    padding: 0 !important;
}

.clsDesktopBelowTabs {
    box-shadow: none !important;
    border: 0 !important;
}

.clsDesktopTabs {
    font-size: 0;
}

.clsDesktopTabs > * {
    font-size: 14px;
    margin: 0;
}

.clsDesktopTab {
    border-radius: 0 !important;
    border-right: 1px solid #1c3650;
}

.clsDesktopTab:first-child {
    border-top-left-radius: 6px !important;
}

.clsDesktopTab:last-child {
    border-top-right-radius: 6px !important;
    border-right: 0 !important;
}

.clsTableHeadingBackground,
.clsTableHeadingGradient,
.clsTableHeading {
    background: linear-gradient(to bottom, #333, #111) !important;
    border: 0 !important;
}

.clsTableHeading:hover {
    background: linear-gradient(to bottom, #555, #333) !important;
}

.clsTableHeadingSeparator {
    border-left: 0 !important;
    border-right: 0 !important;
}

.clsSearchField {
    background-color: #222 !important;
    border: 0 !important;
}

[data-client-id="ch3"] .clsGAW:last-child > div {
    display: none !important;
}

.clsDesktopTab.clsDesktopTabActive {
    background-color: #fff;
}

.clsActionBar {
    background-color: #111 !important;
    border-top-right-radius: 5px !important;
}

.clsActionBar td:first-child {
    padding: 2px !important;
}

.clsActionBar .clsButton.clsStandardButton {
    height: 30px !important;
}

.clsTableHeading {
    background: transparent;
}

.clsDesktopTab {
    outline: none;
}

.clsGRB {
    border-left: 0 !important;
    border-right: 0 !important;
}

.clsNotificationItem {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.clsTableHeadingGradient + .clsGMO[style*="height: 1px"] {
    display: none;
}

.clsTableHeadingGradient + .clsGMO[style*="height: 1px"] + .clsGMO[style*="height: 1px"] {
    background-color: #222 !important;
}